/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to bottom right, #323232, #2a0316);
    background-attachment: fixed;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --Birrete-color: #ffff;
    --Abajo-color: #ffff;
}

svg {
    cursor: pointer;
}

#arriba {
    fill: var(--Birrete-color);
}

#base {
    fill: var(--Abajo-color);
}

#Birrete,
#Abjajo {
    transition: all 1s ease;
}

::placeholder {
    font-family: "Open Sans", sans-serif;
}

.main-content {
    flex-grow: 1;
    margin-top: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 90%;
    margin: auto;
}

.page-title-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.page-icon {
    height: 28px;
    width: auto;
    margin-top: 7px;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.page-description {
    font-size: 18px;
}

.mensaje-vacio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 14px;
    color: #000;
}



@media only screen and (max-width: 768px) {
    .page-title {
        margin-top: 10%;
        font-size: 18px;
    }

    .page-description {
        font-size: 16px;
    }
}
