/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to bottom right, #323232, #2a0316);
    background-attachment: fixed;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --Birrete-color: #ffff;
    --Abajo-color: #ffff;
}

svg {
    cursor: pointer;
}

#arriba {
    fill: var(--Birrete-color);
}

#base {
    fill: var(--Abajo-color);
}

#Birrete,
#Abjajo {
    transition: all 1s ease;
}

::placeholder {
    font-family: "Open Sans", sans-serif;
}

.main-content {
    flex-grow: 1;
    margin-top: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 90%;
    margin: auto;
}

.page-title-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.page-icon {
    height: 28px;
    width: auto;
    margin-top: 7px;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.page-description {
    font-size: 18px;
}

.mensaje-vacio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 14px;
    color: #000;
}

#modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 30px;
    opacity: 0;
    transition: 0.5s ease all;
    z-index: 99999;
}

#modal-wrapper.active {
    opacity: 1;
}

#modal-confirmation {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    opacity: 0;
    max-width: 400px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    text-align: left;
    transition: 0.5s ease all;
}


#modal-wrapper.active #modal-confirmation {
    margin-top: 0;
    opacity: 1;
}

.warning-header {
    position: relative;
    background: #ff0000;
    padding: 15px;
    color: #fff;
    text-align: left;
}

#warning-close {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    transition: 0.5s ease all;
}

#warning-close:hover {
    color: #d9d9d9;
}

#warning-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    color: #000;
}

#warning-content input {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    margin-top: 10px;
    color: #000;
    height: 50px;
    padding-left: 10px;
}

#warning-content label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#warning-buttons {
    margin-top: 20px;
    padding: 15px;
    text-align: right;
}

#warning-button-no {
    border: 2px solid #707070; /* Borde gris oscuro */
    padding: 10px 30px;
    background: #fff; /* Fondo blanco */
    color: #707070; /* Texto gris oscuro */
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
}

#warning-button-no:hover {
    background: #707070; /* Fondo gris oscuro al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
}

#warning-button-yes {
    border: 2px solid #ff6b6b;
    padding: 10px 50px;
    background: #ff6b6b;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
    margin-left: 10px;
}

#warning-button-yes:hover {
    border: 2px solid #ff6b6b;
    color: #fff;
    background: #ff0000;
}

.modal-success-header {
    position: relative;
    background: #00c041;
    padding: 15px;
    color: #fff;
    text-align: left;
}


.modal-success-button-yes {
    border: 2px solid #00c041;
    padding: 10px 50px;
    background: #00c041;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
    margin-left: 10px;
}

.modal-success-button-yes:hover {
    border: 2px solid #4CAF50;
    color: #fff;
    background: #4CAF50;
}


@media only screen and (max-width: 768px) {
    .page-title {
        margin-top: 10%;
        font-size: 18px;
    }

    .page-description {
        font-size: 16px;
    }
}
