.container-eslogan{
	text-align:center;

	/*left:80px; */
	
	font-size: 60px;
	font-weight:bolder;
	align-items:center;
}


/** PERFIL **/

.perfil-menu {
    display:flex;
    flex-direction:row;
    background: #259AEF;
    border-radius:16px;



    border-radius: 16px;
    margin-left:-80px;

    margin-right:20px;
    height:100px;
    width:260px;    
	text-align:bottom;
}


.container-perfil{
	display: flex;
	flex-direction: column;
	margin:auto;
}

.texto-perfilD{
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 5px;
	color: #ffffff;
}

.texto-perfil2{
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 5px;
	color: #ffffff;
	position:relative;
	top:6px;
	left:5px;
}


.container-ajustes{
	margin-left:10px;
	margin-right:10px;
	align-items:center;
}

.container-texto-ajustes{
	border-radius: 16px;
	width:65px;
	
	   display: table-cell;
   vertical-align: middle;
}

.container-amigos{
	margin-left:10px;
	margin-right:10px;
	align-items:center;
	width:65px;
}

.container-texto-amigos{
	align-items:center;
	width:65px;
	   display: table-cell;
   vertical-align: middle;
}


/** **/

.container-principal{
	display:flex;
}

.left-container{
	width:50%;
	margin:auto;
	margin-left:120px;
	
}


.container-busqueda{
	width:50%;
	text-align:left;
}

.encabezado-taquilla{
	display:flex;
}



.encabezado-busqueda{
	display: block;
	margin-top: 20px;
}

.container-principal h3{
	margin-top:10px;
	margin-left:10px;
}


/**/
/* Lista de asignaturas */
/**/

.ag-courses_item {
    -ms-flex-preferred-size: calc(33% - 66px);
    flex-basis: calc(33% - 80px);
    margin: 0 10px 18px;
    overflow: hidden;
    border-radius: 12px;
}

/** Busqueda **/
#search {
    padding: 10px;
    background-color: #d9d9d9;
    border: #d9d9d9;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 5px;
    width: 25%;
}

.search-bar{
	padding:2%;
}

.boton_show_more_subjects{
	position:relative;
	left:35%;
	border-radius:10px;
	padding:1%;
	border:0;
}


.boton_search{
	color:#000;
	border-radius: 12px;
	height: 40px;
	padding: 10px;
}

.encabezado-busqueda{
	display:flex;
	flex-direction:row;
}

.ultimas_busquedas{
	font-size:12px;
	padding:2%;
	font-weight:bolder;
}

.box-busqueda {
    border-radius: 16px;
    overflow: hidden;
    margin: 10px;
    background-color: #d9d9d9;
    color: black;
    width: 20%;
    display:flex;
    flex-direction:row;
    text-align:right;
}

.mensaje-busqueda{
	text-align:center;
	display:flex;
	flex-direction:row;
	margin-left:3%;
}


.star{
	margin-top:2%;
	margin-right:2%;
}


/** Foro **/


.container-foro{
	width:50%;
	text-align:left;
}

.encabezado-foro{
	display:flex;
	text-align:left;
}

.mensajes-foro{
	display:block;
	position:relative;
	top:5px;
}


.mensaje-box {
    border-radius: 16px;
    overflow: hidden;
    margin: 10px;
    background-color: #d9d9d9;
    color: black;
    width: 85%;
}

.mensaje-box-persona {
    border-radius: 16px;
    overflow: hidden;
    margin: 10px;
    background-color: #d9d9d9;
    color: black;
    width: 85%;
    display:flex;
    flex-direction:row;
}

.foto-perfil{
	margin-left:2%;
	margin-top:4px;
}

.persona-contribuidas-titulo{
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-left:30px;
    text-align: left;

}

.mensaje-persona{
    margin-bottom: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.boton_show_more_foro{
	position:relative;
	left:39%;
	top:2%;
	border-radius:10px;
	padding:1%;
	border:0;
}

