.container-eslogan {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
}

/** PERFIL **/

.perfil-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-top: 20px;
}

.perfil-menu a {
    flex: 1; /* Para que cada enlace ocupe la misma cantidad de espacio */
    text-align: center; /* Para centrar el texto horizontalmente */
    align-items: center;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #259aef;
    border-color: #259aef;
    border-radius: 16px;
}

.container-perfil {
    display: flex;
    flex-direction: column;
    align-items: center; /* Para centrar los elementos verticalmente */
    margin: auto;
}

.container-perfil img {
    height: 50px;
    width: auto;
}

.texto-perfilD {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff;
}

/** **/

.container-principal {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}

.left-container {
    width: 47%;
}

.container_busqueda {
    margin-left: 7px;
}

.encabezado-taquilla {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.encabezado-busqueda {
    display: flex;
    align-items: center;
}

.encabezado-foro {
    align-items: center;
    margin-bottom: 19px;
}

.encabezado-busqueda h3 {
    margin-left: 10px;
}

.encabezado-busqueda img {
    height: 30px;
    width: auto;
}

.search-bar {
    margin: 10px 0 30px 0;
}

#search {
    padding: 10px;
    background-color: #d9d9d9;
    border: #d9d9d9;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 5px;
    width: 25%;
}

.boton {
    padding: 10px;
    background-color: #555454;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.boton:hover {
    background-color: #00c041;
}

.texto-btn {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.container-principal h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.fa-solid {
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}



/**/
/* Lista de asignaturas */
/**/

.ag-courses_item {
    -ms-flex-preferred-size: calc(40% - 80px);
    flex-basis: calc(40% - 80px);
    margin: 0 10px 18px;
    overflow: hidden;
    border-radius: 12px;
}

.ag-format-container {
    margin: 0 60px 0 60px;
}

.ag-courses_box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 25px;
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .ag-courses_box {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .ag-courses_box {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #d9d9d9;
    overflow: hidden;
    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_description {
    text-decoration: none;
    color: #000;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 60px;
    overflow: hidden;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    z-index: 2;
    position: relative;
}

.ag-courses-item_description-box {
    font-size: 12px;
    color: #555454;
    z-index: 2;
    position: relative;
}

.ag-courses-item_description {
    font-weight: bold;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.ag-courses-item_bg {
    height: 115px;
    width: 115px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #ffa483;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #d5ffa2;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #ffa3da;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #9c9bff;
}
.ag-courses_item:nth-child(7n) .ag-courses-item_bg {
    background-color: #95ecff;
}
.ag-courses_item:nth-child(8n) .ag-courses-item_bg {
    background-color: #bf9aca;
}
.ag-courses_item:nth-child(9n) .ag-courses-item_bg {
    background-color: #bafff4;
}

/** Foro **/

.container-foro {
    width: 50%;
    text-align: left;
}

.encabezado-foro {
    display: flex;
    text-align: left;
}

.mensajes-foro {
    display: block;
    position: relative;
    top: 5px;
}

.mensaje-box {
    border-radius: 16px;
    overflow: hidden;
    margin: 10px 18px;
    background-color: #d9d9d9;
    color: black;
    text-align: center;
    transition: background-color 0.3s ease;
}

.mensaje-box-persona {
    border-radius: 16px;
    overflow: hidden;
    margin: 10px 18px;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    align-items: center;
}

.foto-perfil {
    margin-left: 2%;
    margin-top: 4px;
}

.persona-contribuidas-titulo {
    font-size: 16px;
    margin: 8px 0 8px 30px;
    text-align: left;
}

.persona-contribuidas-titulo span {
    font-weight: bold;
}

.contribuidas-titulo {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
}

.mensaje {
    margin: 5px 0;
    font-size: 16px;
}

.contenedor-view-more {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.view-more {
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 8px 15px;
    border: 0px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.view-more:hover {
    background-color: #00c041;
    color: #fff;
}

.mensaje-box:hover{
    background-color: #c8b5b2;
}
.mensaje-box-persona:hover{
    background-color: #c8b5b2;
}