.title-fich {
    display: flex;
    margin-bottom: 20px;
}

.subject {
    background-color: #d9d9d9;
    border-radius: 12px;
    padding: 10px 10% 10px 10px;
    color: #000;
    margin-right: 10px;
}

.subject h2 {
    margin: 10px 0 15px 10px;
}

.subject p {
    color: #555454;
    margin: 10px 0 15px 10px;
}

.title-fich img {
    background-color: #d9d9d9;
    border-radius: 12px;
    padding: 18px;
    height: 70px;
    width: auto;
    transition: background-color 0.3s ease;

}

.title-fich img:hover {
    background-color: #b5b5b5;
}

.container-principal {
    width: 90%;
    margin: auto;
    min-height: 600px;
}

.ag-format-container {
    margin: 0 8% 0 8%;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 25px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 50px);
    flex-basis: calc(50% - 50px);
    margin: 0 15px 18px;
    overflow: hidden;
    border-radius: 12px;
}

.ag-courses-item_flex {
    display: flex;
    padding: 5px 20px;
    background-color: #d9d9d9;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.borrar-tema {
    border-radius: 10px;
    background-color: #d9d9d9;
    color: #000;
    margin: 10px 0 10px 10px;
    padding: 8px;
    align-content: center;
    flex: 7%;
    transition: background-color 0.3s ease;
}

.borrar-tema:hover {
    background-color: #b5b5b5;
}

.borrar-icon {
    margin-left: 2px;
    margin-top: 2px;
}

.nombre-fich {
    display: flex;
}

.fich2 {
    min-height: 40px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    z-index: 2;
    position: relative;
    margin-left: 10px;
}

fich2 h3 {
    font-weight: bold;
}

.fich2 p {
    font-size: 12px;
}

.fich2 p span {
    font-weight: bold;
    color: #555454;
}

.img-download {
    height: 45px;
    width: auto;
    padding: 8px;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.img-download:hover {
    background-color: #b5b5b5;
}

.sendBtnDisabled, .sendBtn {
    border-radius: 10px;
    padding: 10px;
    border: 0;
    font-weight: bold;
    margin: 10px;
}

.sendBtnDisabled {
    cursor: not-allowed;
    background-color: #cccccc;
    color: #666666;
}
.sendBtn {
    cursor: pointer;
    background-color: #44ad2f;
    color: white;
}

.sendBtn:hover {
    background-color: #66cf51;
}

