/**/
/* Barra de búsqueda */
/**/
#search {
    padding: 10px;
    background-color: #d9d9d9;
    border: #d9d9d9;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 5px;
    width: 25%;
}

.boton {
    padding: 10px;
    background-color: #555454;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #00c041;
}

.texto-btn {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.for-fich-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titulo-contenido {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: left;
}

.forum-container {
    min-width: 200px;
    width: 45%;
}

.ficheros-container {
    min-width: 200px;
    width: 45%;
}

.cajas-container {
    display: flex;
    flex-direction: column;
    min-height: 120px;
}

.lista-temas {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.enlace-tema {
    flex: 93%;
}

.caja-tema {
    border-radius: 10px;
    background-color: #d9d9d9;
    color: #000;
    margin: 10px 0 5px 0;
    padding: 6px;
    transition: background-color 0.3s ease;
}

.caja-tema:hover {
    background-color: #b5b5b5;
}

.caja-tema h3 {
    font-size: 18px;
}

.caja-tema p {
    font-size: 12px;
}

.caja-tema p span {
    font-weight: bold;
    color: #555454;
}

.borrar-wrapper {
    margin-left: 10px;
    align-content: center;
    flex: 7%;
}

.delete-subject {
    cursor: pointer;
    border: 0px;
    margin-top: 5px;
    padding: 12px 8px;
    background-color: #f13e3e;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    color: #fff;
    font-weight: bold;
}

.delete-subject:hover {
    background-color: #ff0000;
}

.borrar-button {
    cursor: pointer;
    border: 0px;
    margin-top: 5px;
    padding: 12px 8px;
    background-color: #f13e3e;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    align-items: center;
}

.borrar-button:hover {
    background-color: #ff0000;
}

.fa-trash-can {
    margin: 5px;
    color: #fff;
    font-size: 20px;
}

.caja-fich {
    border-radius: 10px;
    background-color: #d9d9d9;
    color: #000;
    margin: 10px 0 5px 0;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.caja-fich h3 {
    font-size: 18px;
}

.caja-fich p {
    font-size: 12px;
}

.caja-fich p span {
    font-weight: bold;
    color: #555454;
}

.fich {
    display: flex;
    align-items: center;
}

.lista-ficheros {
    display: flex;
    flex-direction: row;
}

.fichero {
    flex: 93%;
}

#fich-icon {
    height: 30px;
    width: auto;
    margin-right: 10px;
}

#download-icon {
    height: 45px;
    width: auto;
    padding: 8px;
    border-radius: 40px;
    margin: 5px 10px 0 10px;
    transition: background-color 0.3s ease;
}

#download-icon:hover {
    background-color: #b5b5b5;
}


.contenedor-view-more {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.view-more {
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 8px 15px;
    border: 0px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.view-more:hover {
    background-color: #00c041;
    color: #fff;
}



#modal-confirmation {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    opacity: 0;
    width: 30%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    text-align: left;
    transition: 0.5s ease all;
}


#modal-wrapper.active #modal-confirmation {
    margin-top: 0;
    opacity: 1;
}

.modal-header {
    position: relative;
    background: #00c041;
    padding: 15px;
    color: #fff;
    text-align: left;
}

#modal-close {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    transition: 0.5s ease all;
}

#modal-close:hover {
    color: #d9d9d9;
}

#modal-content {
    padding: 30px 15px;
    color: #000;
}

#modal-buttons {
    padding: 0 15px 15px 15px;
    text-align: right;
}

#modal-button-no {
    border: 2px solid #707070; /* Borde gris oscuro */
    padding: 10px 30px;
    background: #fff; /* Fondo blanco */
    color: #707070; /* Texto gris oscuro */
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
}

#modal-button-no:hover {
    background: #707070; /* Fondo gris oscuro al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
}

#modal-button-yes {
    border: 2px solid #00c041;
    padding: 10px 50px;
    background: #00c041;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
    margin-left: 10px;
}

#modal-button-yes:hover {
    border: 2px solid #4CAF50;
    color: #fff;
    background: #4CAF50;
}

#modal-content input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    margin-top: 10px;
    color: #000;
    height: 50px;
}

#modal-content textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    margin-top: 10px;
    color: #000;
    height: 100px;
    resize: none;
}

#modal-content label {
    font-weight: bold;
}

#modal-content div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}




@media only screen and (max-width: 768px) {
    .caja-fich,
    .caja-tema {
        width: 98%;
    }

    .for-fich-container {
        flex-direction: column;
    }

    #search {
        width: 50%;
    }
}


.new-topic {
    padding: 10px;
    background-color: #555454;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-content: center;
    margin-left: 7px;
    font-weight: bold;
    font-size: 14px;
}

.new-topic:hover {
    background-color: #00c041;
}