.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.nav-main ul {
    display: flex;
    align-items: center;
}

#perfil-img {
    margin-top: 6px;
    margin-left: 10px;
    height: 40px;
    width: auto;
}

.boton-registro {
    padding: 10px;
    background-color: #00c041;
    border-radius: 15px;
    font-size: 20px;
    border: 0;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.boton-registro {
    padding: 7px 10px;
    font-size: 16px;
}

.boton-inicio,
.boton-logout {
    padding: 7px 10px;
    background-color: #259aef;
    border-radius: 15px;
    font-size: 16px;
    border: 0;
    color: white;
}

.boton-logout {
    background-color: #ff0000;
}

.boton-registro:hover {
    background-color: #00a13d;
}

.boton-inicio:hover {
    background-color: #1e7dbf;
}

.boton-logout:hover {
    background-color: #ff4d4d;
}

/**/
/* Nav-bar */
/**/
.nav-bar {
    margin: 20px 0;
    display: flex;
}

#arrow {
    height: 45%;
    width: auto;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 2px;
}

#home-icon {
    height: 43%;
    width: auto;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.items-nav a:hover {
    border-bottom: 2px solid #fff;
}

.nav-menu li {
    padding: 10px;
}

.texto-perfil:hover {
    border-bottom: 2px solid #fff;
}
