.form-group {
    margin: 30px 0 5% 0;
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: #fff;
    margin: 10px 0 5px 0;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: #000;
    height: 50px;
}

.form-group textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 150px;
    background-color: #d9d9d9;
    color: #000;
    resize: none;
}

.form-group button {
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 12px;
    background-color: #d9d9d9;
    color: #000;
    cursor: pointer;
    width: 30%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-group button:hover {
    background-color: #00c041;
    color: #fff;
}


.titulo {
    display: flex;
    flex-direction: column;
    width: 40%;
}
