.not_found_container {
    text-align: center;
    margin: 6% 0;
}

.img-not_found {
    width: 30%;
    height: auto;
}

.texto-error {
    margin: 20px 0;
}

.contenedor-volver {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.volver {
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 8px 15px;
    border: 0px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.volver:hover {
    background-color: #00c041;
    color: #fff;
}