/**/
/* Barra de búsqueda */
/**/
.search-bar {
    display: flex;
}


#search {
    padding: 10px;
    background-color: #d9d9d9;
    border: #d9d9d9;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 5px;
    width: 25%;
}

.new-forum {
    padding: 10px;
    background-color: #555454;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-content: center;
    margin-left: 7px;
    font-weight: bold;
    font-size: 14px;
}

.new-forum:hover {
    background-color: #00c041;
}

.boton {
    padding: 10px;
    background-color: #555454;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #00c041;
}

.texto-btn {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

/**/
/* Lista de asignaturas */
/**/
.ag-format-container {
    margin: 0 60px 0 60px;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 25px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(25% - 30px);
    flex-basis: calc(25% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 12px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #d9d9d9;
    overflow: hidden;
    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_description {
    text-decoration: none;
    color: #000;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 60px;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    z-index: 2;
    position: relative;
}

.ag-courses-item_description-box {
    font-size: 12px;
    color: #555454;
    z-index: 2;
    position: relative;
}

.ag-courses-item_description {
    font-weight: bold;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #ffa483;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #d5ffa2;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #ffa3da;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #9c9bff;
}
.ag-courses_item:nth-child(7n) .ag-courses-item_bg {
    background-color: #95ecff;
}
.ag-courses_item:nth-child(8n) .ag-courses-item_bg {
    background-color: #bf9aca;
}
.ag-courses_item:nth-child(9n) .ag-courses-item_bg {
    background-color: #bafff4;
}

#modal-confirmation {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    opacity: 0;
    width: 30%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    text-align: left;
    transition: 0.5s ease all;
}


#modal-wrapper.active #modal-confirmation {
    margin-top: 0;
    opacity: 1;
}

.modal-header {
    position: relative;
    background: #00c041;
    padding: 15px;
    color: #fff;
    text-align: left;
}

#modal-close {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    transition: 0.5s ease all;
}

#modal-close:hover {
    color: #d9d9d9;
}

#modal-content {
    padding: 30px 15px;
    color: #000;
}

#modal-buttons {
    padding: 0 15px 15px 15px;
    text-align: right;
}

#modal-button-no {
    border: 2px solid #707070; /* Borde gris oscuro */
    padding: 10px 30px;
    background: #fff; /* Fondo blanco */
    color: #707070; /* Texto gris oscuro */
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
}

#modal-button-no:hover {
    background: #707070; /* Fondo gris oscuro al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
}

#modal-button-yes {
    border: 2px solid #00c041;
    padding: 10px 50px;
    background: #00c041;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
    margin-left: 10px;
}

#modal-button-yes:hover {
    border: 2px solid #4CAF50;
    color: #fff;
    background: #4CAF50;
}

#modal-content input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    margin-top: 10px;
    color: #000;
    height: 50px;
}

#modal-content input[type=number] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    margin-top: 10px;
    color: #000;
    width: 20%;
    height: 50px;
}

#modal-content label {
    font-weight: bold;
}

#modal-content div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_bg {
        height: 85px;
        width: 85px;
        top: -50px;
        right: -50px;
    }

    .ag-courses-item_title {
        font-size: 14px;
    }

    .ag-format-container {
        margin: 0 13px 0 13px;
    }
}
